{% extends 'admin.html.twig' %}

{% block title %}{% trans %}Edit User{% endtrans %}{% endblock %}

{% block body_title %}{% trans %}Edit User{% endtrans %}{% endblock %}

{% block body_content %}
    {% set form_id = 'form-user-edit' %}

    {{ include('admin/user/_form.html.twig', { form_id: form_id }) }}

    <button type="submit" class="btn btn-success" form="{{ form_id }}">
        {% trans %}Update{% endtrans %}
    </button>

    <a class="btn btn-primary" href="{{ path('app_admin_user_index') }}">
        {% trans %}Back to list{% endtrans %}
    </a>

    {% trans %}Or{% endtrans %}

    <a class="btn btn-danger" href="{{ path('app_admin_user_delete', { id: user.id }) }}">
        {% trans %}Delete{% endtrans %}
    </a>
{% endblock %}
