{% extends 'admin.html.twig' %}

{% block title %}{% trans %}New User{% endtrans %}{% endblock %}

{% block body_title %}{% trans %}New User{% endtrans %}{% endblock %}

{% block body_content %}
    {% set form_id = 'form-user-new' %}

    {{ include('admin/user/_form.html.twig', { form_id: form_id }) }}

    <button type="submit" class="btn btn-success" form="{{ form_id }}">
        {% trans %}Add{% endtrans %}
    </button>

    <a class="btn btn-primary" href="{{ path(router.getRouteName('index')) }}">
        {% trans %}Back to list{% endtrans %}
    </a>
{% endblock %}
