<div class="sidebar sidebar-dark">
    <dl class="list">
        <dd class="list-item">
            <a href="{{ path('app_admin_dashboard') }}">
                {% trans %}Dashboard{% endtrans %}
            </a>
        </dd>
    </dl>
</div>